fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-jose[cryptography]
bcrypt
python-multipart
email-validator
numpy
pandas
scikit-learn
faster-whisper
# Opcional: instalar solo si vas a entrenar/usar LSTM local
# tensorflow
